# Remove all
*

# this file
!.gitignore

# protocol files
!protocol
!protocol/*

# config files
!utilities
!utilities/config_manager.py

!configs
!configs/*
!default.cfg

# main file
!ircsome.py

# readme
!README.md